.aboutus_content{
    padding:100px 0;
    background-color: var(--secondary_color);
    .title_block{
        margin:0 0 40px;
        display: flex;
        align-items: center;
        .logo_block{
            margin:0 30px 0 0;
            .img_fit{
                max-width: 100px;
            }   
        }
        .section_title{
            color:var(--white_color);
            font-size: var(--fs48);
            font-family: var(--ff_playfair);
            font-weight: var(--fw7);
        }
    }
    .about_feature{
        .right_feature{
            .subtitle{
                color:var(--white_color);
                font-size: var(--fs32);
                font-family: var(--ff_poppins);
                font-weight: var(--fw7);
                margin:0 0 30px;
            }
            .desc{
                color:var(--white_color);
                font-size: var(--fs18);
                font-family: var(--ff_poppins);
                font-weight: var(--fw4);
                line-height: 30px;
            }
        }
    }
}