<footer>
    <div class="container">
        <div class="inner_foot">
            <h2 class="headtitle">
                {{headtitle1}}
                <br/>
                {{headtitle2}}
                <br/>
                {{headtitle3}}
            </h2>
            <div class="row">
                <div class="col-lg-8 gridcol"></div>
                <div class="col-lg-4 gridcol">
                    <div class="info_block">
                        <h2 class="info_title">Get in touch!</h2>
                        <ul class="list-unstyled list_info">
                            <li>
                                <div class="row">
                                    <div class="col-4 innercol">
                                        <span class="txt_info">Phone</span>
                                    </div>
                                    <div class="col-8 innercol">
                                        <a href="tel:(123)456-7890" class="link_info">(123) 456-7890</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-4 innercol">
                                        <span class="txt_info">Email</span>
                                    </div>
                                    <div class="col-8 innercol">
                                        <a href="mailto:xyz@gmail.com" class="link_info">xyz@gmail.com</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-4 innercol">
                                        <span class="txt_info">Social</span>
                                    </div>
                                    <div class="col-8 innercol">
                                        <ul class="list-unstyled list_socialmedia d-flex">
                                            <li>
                                                <a href="" target="_blank" class="link_sm">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank" class="link_sm">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank" class="link_sm">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</footer>