.navbar{
    transition:all .4s linear;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -ms-transition:all .4s linear;
    &.fixed{
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 10;
        width: 100%;
        background-color: var(--white_color);
        box-shadow: 0px 16px 14px 8px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 16px 14px 8px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 16px 14px 8px rgba(0,0,0,0.1);
        -ms-box-shadow: 0px 16px 14px 8px rgba(0,0,0,0.1);
      }
    .navbar-brand{
        display: flex;
        align-items: center;
        img{
            max-width: 60px;
            align-items: center;
            margin:0 20px 0 0;
        }
        .txt_logo{
            color:var(--primary_color);
            font-size: var(--fs24);
            font-weight: var(--fw9);
            font-family: var(--ff_poppins);
            margin:0;
        }
    }
    .navbar-nav{
        .nav-item{
            &:not(:last-child){
                margin:0 20px 0 0;
            }
            .nav-link{
                color:var(--primary_color);
                font-weight: var(--fw7);
                text-transform: capitalize;
                &.active{
                    color:var(--secondary_color)
                }
            }
        }
    }
}

